body {
    background: linear-gradient(to right, limegreen, skyblue);
    height: 100vh;
}

.title {
    text-align: center;
    color: white;
    padding-top: 20vh;
}

.description {
    text-align: center;
    color: white;
    padding: 20px;
}

.list {
    text-align: center;
    color: white;
    padding: 20px;
}

.back-button {
    text-align: center;
    padding-bottom: 20vh;
}

.back-link {
    background-color: skyblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
